.widget-subscribe {
    background-image: var(--brand-gradient);
    padding: var(--spacer-x) var(--spacer);
    color: rgb(var(--color-inverse));

    &__icon {
        height: rem(58px);
        width: rem(58px);
        border-radius: 50%;
        margin: 0 auto var(--spacer) auto;
        background-color: rgb(var(--color-inverse));
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(var(--color-base));
        font-size: var(--font-size-x);
    }

    &__heading {

    }

    &__description {
        text-align: center;
        font-family: var(--font-family-heading);
        font-size: var(--font-l);
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: var(--spacer-x);
    }
}
