$color-base: #2a2a2a;
$color-inverse: #fff;

$color-primary-light: #ad6aeb;
$color-primary: #8a2be2;

$color-secondary: #0000ff;
$color-secondary-light: #3939ef;

$color-accent-light: #beffff;
$color-accent: #00ffff;

$color-neutral-light: #f1f1f1;
$color-neutral: #C4C4C4;
$color-neutral-darken: #a9a8a8;

$color-success-light: #4cff9d;
$color-success: #00ff7f;
$color-success-darken: #1fde4f;

$color-danger-light: #ec1717;
$color-danger: #d91616;
$color-danger-darken: #9b1010;

$color-like: #d66f6f;
$color-comment: #aecdd5;
$color-online: $color-success-darken;
$color-promo: $color-success-light;

$color-shadow: #000;
